.container {
  display: grid;
  grid: 
    "header header header header" auto
    "...... lists  active ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0,0, 0, 0.1);
  letter-spacing: 1px;
  margin: -0.3em 0 0.5em; 
}

.all-tasks {
  grid-area: lists;
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

form {
  display: flex;

  input.new {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
  
    transition: border-bottom 150ms ease-in;
    order: 2;
  }

  input.new:focus {
    border-bottom-width: 3px;
  }
  
  input.new:focus::placeholder {
    color: black;
    opacity: 0.2;
  }
  
  button.btn {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
  }
  
  button.btn:hover {
    opacity: 0.7;
  }
}

.active-list {
  font-weight: 700;
}

.todo-list {
  --spacer: 2rem;

  grid-area: active;
  background-color: var(--clr-light);
  color:  var(--clr-dark);
} 

.todo-header {
  padding: var(--spacer);
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  margin: 0;
  margin-right: 0 1em 0 0;
}

.task-count {
  margin: 0;
}

.todo-body {
  padding: var(--spacer);
}